
.vs/Battleships2/v15/.suo
.vs/Battleships2/v15/Server/sqlite3/storage.ide-shm
bin/Debug/ConsoleApplication.exe
bin/Debug/ConsoleApplication.pdb
obj/x86/Debug/Battleships2.csproj.CoreCompileInputs.cache
obj/x86/Debug/Battleships2.csproj.GenerateResource.cache
obj/x86/Debug/ConsoleApplication.exe
obj/x86/Debug/ConsoleApplication.pdb
